<form [formGroup]="ContactForm" (ngSubmit)="updateContact()" id="form">
  <div class="form-group">
    <label for="FirstName">First Name</label>
    <input type="text" formControlName="first_name" class="form-control" id="FirstName" placeholder="Enter First Name">
  </div>
  <div class="form-group">
    <label for="LastName">Last Name</label>
    <input type="text" formControlName="last_name" class="form-control" id="LastName" placeholder="Enter Last Name">
  </div>
  <div class="form-group">
    <label for="Phone">Phone</label>
    <input type="text"  formControlName="phone" class="form-control" id="Phone" placeholder="Enter Phone">
  </div>
  <div class="modal-footer">
      <button type="button"  [routerLink]='["/contacts"]' class="btn btn-secondary">Close</button>
    <button type="submit" class="btn btn-primary" [disabled]="!ContactForm.valid">Update</button>
    
  </div>

</form>